* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #f71735;

  --primary-color-m: #f0386b;

  --secondary-color: #011627;

  --middle-color: #fdfffc;
}

body {
  line-height: 1.8;
}

#__next {
  display: flex;
  flex-direction: row;
  background: var(--middle-color);
}
